*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
body {
    font-family: 'Roboto', sans-serif;
  }
  
  a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  a:hover{
      color: #A89898 !important;
  }

  /* TopBar  */
  #topbar{
      background-color: #F8D8D9;
      padding: 5px;
  }
  .scrollto{
      padding:0 10px;
      color: #000;
      font-weight: 500;
  }
  .call-now{
      background-color: #000;
      padding: 5px 10px;
      color: #fff;
  }
  .info{
      color: #000;
      padding: 10px;
  }

/* Navbar  */
.navbar{
    background-color: #fff;
}
.navbar-brand{
    font-size: 30px;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom:0;
}
.main li{
    list-style-type: none;
    padding: 5px 15px;
}
.main a{
    color: #000;
    font-weight: 500;
    font-size: 18px;
}
.icon-main{
    padding-right: 10px;
}
.icon{
    padding: 0 5px;
    color: #000;
    font-size: 20px;
}
.nav-link{
    color: #fff !important;
}


/* Hero section  */

.hero-container{
    height: 100vh;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}

.button-style{
    background-color: #000;
    color: #fff;
    border: none;
    padding: 9px 25px;
    cursor: pointer;
    border-radius: 5px;
}
.hero-title{
    color: red;
    font-weight: 500;
    font-size: 20px;
}
.selling-title{
    font-size: 35px;
    font-weight: 700;
}

.common-class{
    padding: 25px;
}

/* Product Collection  */

.card{
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: .5s;
}
.card:after{
    content: '';
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    transform: translate(-140%, -50%);
    transition: .8s;
}

.card:hover:after{
    transform: translate(-50%, -50%);
}


.card .fa-shopping-cart{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-2000px, -50%);
    color: #fff;
    transition: .8s;
    transition-timing-function: ease-in;
}
.card:hover .fa-shopping-cart{
    transform: translate(100%, 20%);
    transition-timing-function: ease;
}
.card .fa-shopping-cart{
    font-size: 30px;
    padding: 15px;
    background-color: #ffffff;
    color: #000;
    border-radius: 50%;
}


/* Best selling Product  */

#Best-selling{
    margin: 50px 0;
}
.product-title{
    font-weight: 700;
}
.card-title{
    font-size: 22px;
    font-weight: 700;
}
.card{
    border: none;
}
.fa-star{
    color: #F7C000;
}

/* Trendy Collection  */

.trendy-collection{
    width: 100%;
    height: 300px;
}
.grey-bg{
    background-color: #E8E8E8;
}
.trendy-title{
    color: #000;
    font-weight: 500;
}
.trendy-headline{
    font-weight: 700;
}
.treandy_headline{
    font-weight: 300;
}

/* Top Product section  */

#Top-product img{
    transform: scale(0.8);
}
.top-product{
    margin-top: 260px;
    padding: 50px;
}
.extra-row{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    grid-column-gap: 15px;
}

.img--content{
    width: 100%;
    height: auto;
    background-color: #6A6869;
    color: #fff;
    padding:0 0 0 10px;
    margin: 0;
}
.img--content h1{
    font-size: 35px;
    font-weight: 700;
}
.img--content h3{
    font-size: 24px;
    font-weight: 300;
}
.img--content img{
    transform: scale(1.3);
}
.content-only{
    width: 100%;
    height: 300px;
    background-color: #A89898;
    display: flex;
    align-items: center;
    color: #fff;
}

/* Limited Edition */
.carousel-item {
    padding: 0;
}
#limited-edition{
    display: flex;
    column-gap: 20px;
}


/* Image Gallery  */

.container-gallery{
    min-height: 100vh;
    overflow: hidden;
    width: 100%;
    padding: 2rem 0;
    display: grid;
    display: flex;
    flex-wrap: now-wrap;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
}

.image{
    overflow: hidden;
    height: 300px;
    width: 350px;
    position: relative;
    cursor: pointer;
    margin: 0 15px;
    box-shadow: 0 0 25px 1px rgba(0, 0, 0, .3);
    transition: .5s;
    background-color: #555;
}
.image:after{
    content: '';
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    transform: translate(-140%, -50%);
    background-color: rgba(6, 7, 6, 0.63);
    border-radius: 50%;
    transition: .8s;
}

.image:hover:after{
    transform: translate(-50%, -50%);
}

/* Rotate image 20deg  */

/* .image:hover img{
    transform: translate(-50%, -50%) scale(1.3) rotate(20deg);
} */

.image img{
    position: absolute;
    height: 110%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .8s;
}
.image i{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-2000px, -50%);
    color: #fff;
    transition: .8s;
    transition-timing-function: ease-in;
}
.image:hover i{
    transform: translate(-50%, -50%);
    transition-timing-function: ease;
}


                        /* Footer  */
/* Icon  */

.fa-facebook,
.fa-linkedin-in,
.fa-github {
    padding: 10px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
}

.logo a{
    font-size: 40px;
    color: #000;
    font-weight: 700;
}

.fa-facebook-f,
.fa-phone-volume {
    font-size: 38px;
    padding-right: 10px;
    margin-top: 15px;
}

.footer-content P{
    font-weight: 700;
}